<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_IAlmHiladosService" />
        <binding name="NetTcpBinding_ICatalogoService" />
        <binding name="NetTcpBinding_IMensajesWebService" />
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://alpaca-studio.illary.com/nubian/AlmacenesHilados"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IAlmHiladosService"
        contract="ServiciosWCF.AlmHilados.IAlmHiladosService" name="NetTcpBinding_IAlmHiladosService">
        <identity>
          <servicePrincipalName value="host/DC1.illary.com" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://alpaca-studio.net/web/catalogo"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ICatalogoService"
        contract="ServiciosWCF.Catalogo.ICatalogoService" name="NetTcpBinding_ICatalogoService">
        <identity>
          <userPrincipalName value="NUBIAN\sebas" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://alpaca-studio.net/web/mensajes"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IMensajesWebService"
        contract="ServiciosWCF.Mensajes.IMensajesWebService" name="NetTcpBinding_IMensajesWebService">
        <identity>
          <userPrincipalName value="NUBIAN\sebas" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>